

.heart-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Gap between items */
  }
  
  .heart-item {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(25% - 20px); 
    margin-bottom: 10px;
    box-sizing: border-box; 
  }
  
  .heart-item-image {
    width: 100%;
    height: 161px; 
    object-fit: contain; 
    margin-bottom: 10px;
  }
  
  .heart-item-title {
    font-weight: bold;
    margin: 10px 0;
  }
  
  .heart-item-price {
    margin-bottom: 10px;
  }
  
  .heart-item-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .heart-item-buttons button {
    width: 48%;
    padding: 8px 12px;
    margin-top: 5px;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .add-to-cart-btn {
    background-color: #4caf50;
    color: white;
    border: none;
  }
  
  .remove-wishlist-btn {
    background-color: #f44336;
    color: white;
    border: none;
  }
  